* {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #1c3894;
}
body {
    background-image: URL("https://images5.alphacoders.com/595/thumb-1920-595808.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    background-position: center center;  
}
.center {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);    

    

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 26px;
    width: 440px;
    height: 40px;

    line-height: 45px;
    font-family: 'Rubik', sans-serif;

    color: rgba(0, 0, 0, 0.897);
    background-image: linear-gradient(to right, #191b1f15, #0e1838, #191b1f23);
    border-radius: 12px;
    
    text-shadow: 2px 0 10px #2d5ca3d8,
                 2px 0 15px #01cff8,
                 2px 0 10px #275191d3;
}

.button {
    text-align: center;
    margin: 25px 39%;

    background-image: linear-gradient(to top right, #0153ced8, #4fa1af, #0153ced8);
    border-radius: 12px;
    border: 5px solid rgb(28, 80, 129);
    
    font-size: 50px;
    font-family: 'Rubik', sans-serif;

    cursor: pointer;
    font-weight: bold;

    width: 100px;
    height: 100px;
    outline: none;
    user-select: none;

    
    transition: 350ms;
}

.button:hover {
    animation: tremor 0.8s infinite;
    opacity: 1;
    text-shadow: 0 0 10px rgb(0, 217, 255),
                         0 0 20px rgb(107, 165, 252),
                         0 0 10px rgba(107, 235, 252, 0.678);
            box-shadow:
                         0 0 10px 10px rgb(134, 205, 226),
                         0 0 30px 20px rgb(0, 217, 255),
                         0 0 50px 30px rgb(107, 199, 252);
            color: rgb(126, 222, 235);             
            border: 5px solid rgba(161, 234, 247, 0.664);
}
    @keyframes tremor {
        5%, 25%, 45% {
            transform: translateX(-5px);
            
    }
        10%, 30%, 50% {
            transform: translateY(-3px);
      
    }
        15%, 35%, 55% {
            transform: translateX(3px);

    }
        20%, 40%, 60% {
            transform: translateY(-5px);

    }
        65%, 70%, 75% {
            transform: translateX(0px);

    }
        80%, 85%, 90%{
            transform: translateX(0px);

    }
        95%, 100%, 0%{
            transform: translateY(0px);
}
}